<h2>{{model.heading}}</h2>

<div class="w3-container" style="float: left;">
  <img src="https://www.catster.com/wp-content/uploads/2017/08/A-fluffy-cat-looking-funny-surprised-or-concerned.jpg" class="w3-circle w3-left headshot" alt="Headshot, Default user">
</div>

<div class="w3-container">
  {{markdown-to-html extensions="_blank" markdown=model.blurb}}
</div>
<div class="w3-container w3-right">
  <img class="tori" src="http://positivewomen.co.nz/wp-content/uploads/2018/04/cat.jpg" alt="A pet">
</div>
